@import "./vars.css";

.features-block{
    display:flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    height:220px;
    width:100%;
    color: var(--white-c);
    background-color: var(--accent-c1);
}

.feature-container{
    margin-left:66px;
    margin-right:66px;
    align-items:center;
    justify-content: center;
}

.main-text{
    display:flex;
    justify-content:center;
    font-size:48px;
    font-weight:600;
}
.add-text{
    color: var(--white-c);
    font-size:16.4px;
}